= content_for :page_javascript, 'dashboard/input_binding'
= content_for :title, t('models.messages.actions.edit.title')
= content_for :navigation, 'false'

.row
  .col-sm-4
    %h1= t('models.messages.actions.edit.title')

    = render 'place_group_messages/form/edit'