= content_for :title, "Edit User"
%section.content-header
  %h1= yield(:title)

  - navigation_add 'Users', adm_users_path
  - navigation_add "User #{@user.id}", adm_user_path(@user)
  - navigation_add 'Edit', edit_adm_user_path(@user)
  = render_navigation

%section.content
  .row
    .col-md-6
      .box.box-solid
        .box-header.with-border
          Email:
          = @user.email
        .box-body= render 'adm/users/forms/basic_edit'
