= content_for :title, "Users"
%section.content-header
  %h1= yield(:title)

  - navigation_add 'Users', adm_users_path
  = render_navigation

%section.content
  .box.box-solid
    .box-header= link_to 'add new user', new_adm_user_path, class: 'btn btn-primary btn-flat btn-block btn-sm'
    .box-body
      %table.table.table-striped
        %thead
          %tr
            %th id
            %th email
            %th group
            %th
        %tbody
        - @users.each do |user|
          %tr
            %th= user.id
            %td= link_to user.email, adm_user_path(user)
            %td= user.group
            %td
              = link_to 'edit', edit_adm_user_path(user), class: 'btn btn-warning'
              = link_to 'edit pass', edit_password_adm_user_path(user), class: 'btn btn-primary'
              = link_to 'destroy', adm_user_path(user), class: 'btn btn-danger', method: 'DELETE' unless user == current_user
