= content_for :title, "User #{@user.email}"
%section.content-header
  %h1= yield(:title)

  - navigation_add 'Users', adm_users_path
  - navigation_add "User #{@user.id}", adm_user_path(@user)
  = render_navigation

%section.content
  .row
    .col-md-4
      .box
        .box-header.with-border User information
        .box-body
          %ul.list-group
            %li.list-group-item
              Email
              %span.text-muted.pull-right= @user.email
            %li.list-group-item
              First name
              %span.text-muted.pull-right= @user.first_name
            %li.list-group-item
              Last name
              %span.text-muted.pull-right= @user.last_name
            %li.list-group-item
              Phone
              %span.text-muted.pull-right= @user.phone
            %li.list-group-item
              Group
              %span.text-muted.pull-right= @user.group
            - if @user.general? && @user.try(:franchisee)
              %li.list-group-item
                Francheese
                %span.text-muted.pull-right= link_to @user.franchisee.full_name, adm_user_path(@user.franchisee)

  .box
    .box-header.with-border
      Places
      = link_to 'Add place', new_adm_user_place_path(@user), class: 'btn btn-primary pull-right'
    .box-body
      %table.table.table-striped
        %thead
          %tr
            %th id
            %th name
            %th slug
            %th
        %tbody
        - @user.places.each do |place|
          %tr
            %th= place.id
            %td= link_to place.name, adm_place_path(place)
            %td= place.slug
            %td
              = link_to 'edit', edit_adm_place_path(place), class: 'btn btn-warning'
              = link_to 'destroy', adm_place_path(place), class: 'btn btn-danger', method: 'DELETE'
