= content_for :page_javascript, 'dashboard/input_binding'
= content_for :title, t('models.place_groups.actions.edit.title')
= content_for :navigation, 'false'


.row
  .col-sm-6-offset-3
    %h1= t('models.place_groups.actions.edit.title')

    = render 'form'
.row
  %br
  = link_to t('models.messages.actions.new.title'), new_place_group_message_path(@place_group), class: 'btn btn-primary'
  - @networks.each do |network|
    .box
      .box-header.with-border
        = network.name
        messages
      .box-body
        %table.table.table-striped
          %thead
            %tr
              %th id
              %th message
              %th attachments
              %th post link
              %th active
              %th
          %tbody
            - @messages.where(social_network: network).each do |message|
              %tr
                %td= message.id
                %td= message.message.empty? ? message.subscription : message.message
                %td
                  - if message.image.exists?
                    = image_tag message.image, height: 100
                %td= message.message_link
                %td
                  - if message.active
                    %i.fa.fa-thumbs-o-up
                  - else
                    %i.fa.fa-thumbs-o-down
                %td
              %tr
                %td{:colspan => '6'}
                  - if message.active
                    = link_to 'deactivate', deactivate_place_group_message_path(@place_group, message), class: 'btn btn-danger'
                  - else
                    = link_to 'activate', activate_place_group_message_path(@place_group, message), class: 'btn btn-success'
                  = link_to 'edit', edit_place_group_message_path(@place_group, message), class: 'btn btn-warning'
                  = link_to 'destroy', place_group_message_path(@place_group, message), class: 'btn btn-danger', method: :delete
              