= content_for :page_javascript, 'dashboard/input_binding'
= content_for :page_stylesheet, 'dashboard/place_groups'
= content_for :title, t('models.place_groups.actions.edit.title')
= content_for :navigation, 'false'


.row
  .col-sm-6.col-sm-offset-3
    %h1= t('models.place_groups.actions.edit.title')
    
    = render 'form'
.row
  %h1= t('models.places.actions.settings.messages') 
  = link_to t('models.messages.actions.new.title'), new_place_group_message_path(@place_group), class: 'btn btn-primary btn-xs'
  - @networks.each do |network|
    .panel.panel-info.panel-adjusted
      .panel-heading
        = network.name
        messages
      .panel-body
        %table.table.table-stripped
          %thead
            %tr
              %th.col-xs-1.text-center id
              %th.col-xs-4.text-center message
              %th.col-xs-4.text-center attachments
              %th.col-xs-2.text-center post link
              %th.col-xs-1.text-center active
          %tbody
            - @messages.where(social_network: network).each do |message|
              %tr
                %td.col-xs-1= message.id
                %td.col-xs-4= message.message.empty? ? message.subscription : message.message
                %td.col-xs-4
                  - if message.image.exists?
                    = image_tag message.image, class: "msg-image"
                %td.col-xs-2= message.message_link
                %td.col-xs-1
                  - if message.active
                    %i.fa.fa-thumbs-o-up
                  - else
                    %i.fa.fa-thumbs-o-down
              %tr
                %td{:colspan => '6'}
                  - if message.active
                    = link_to 'deactivate', deactivate_place_group_message_path(@place_group, message), class: 'btn btn-danger'
                  - else
                    = link_to 'activate', activate_place_group_message_path(@place_group, message), class: 'btn btn-success'
                  = link_to 'edit', edit_place_group_message_path(@place_group, message), class: 'btn btn-warning'
                  = link_to 'destroy', place_group_message_path(@place_group, message), class: 'btn btn-danger', method: :delete
              