%h1 Adm::Dashboard#index

%table.table.table-striped
  %thead
    %tr
      %th id
      %th email
      %th group
      %th
  %tbody
  - @users.each do |user|
    %tr
      %th= user.id
      %td= link_to user.email, adm_user_path(user)
      %td= user.group
      %td
        = link_to 'edit', edit_adm_user_path(user), class: 'btn btn-outline btn-warning'
        = link_to 'destroy', adm_user_path(user), class: 'btn btn-outline btn-danger', method: 'DELETE' unless user == current_user
