= content_for :title, "Edit Message"
%section.content-header
  %h1= yield(:title)

  - navigation_add 'Users', adm_users_path
  - navigation_add "User #{@user.id}", adm_user_path(@user)
  - navigation_add "Place #{@place.id}", adm_user_place_path(@user, @place)
  - navigation_add "Edit message", edit_adm_user_place_message_path(@user, @place, @message)
  = render_navigation

%section.content
  .row
    .col-md-6
      .box
        .box-body= render 'form'
