= content_for :title, "New Message"
%section.content-header
  %h1= yield(:title)

  - navigation_add 'Users', adm_users_path
  - navigation_add "User #{@place.user.id}", adm_user_path(@place.user)
  - navigation_add "Place #{@place.id}", adm_place_path(@place)
  - navigation_add "New Place", new_adm_place_message_path(@place)
  = render_navigation

%section.content
  .row
    .col-md-6
      .box
        .box-body= render 'form'
