!!!
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = favicon_link_tag 'favicon.ico'
    %title
      = @place.name
      WiFi
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "wifi/spinner", :media => "all"
    = stylesheet_link_tag "wifi/#{@place.template}/style", :media => "all"
    = stylesheet_link_tag "bootstrap", :media => "all"
    = stylesheet_link_tag "bootstrap-theme", :media => "all"
    - if @place.style
      :css
        #{@place.style.css_min}
      - if @place.style.background.exists?
        :css
          body {
            background: url(#{@place.style.background.url }) no-repeat center
          }
      - if @place.style.text_color && !@place.style.text_color.empty?
        :css
          .content p {
            color: #{ @place.style.text_color }
          }
      - if @place.style.greating_color && !@place.style.greating_color.empty?
        :css
          .content p:first-line {
            color: #{ @place.style.greating_color }
          }
  
  %body

    .wrapper-out
      .wrapper-in
        .content.container
          .inner
            = render 'shared/flash'
            = yield
            = simple_form_for [@place, @poll], url: {action: :submit_poll} do |f|
              = f.error_notification
        
              %h1= f.label f.object.question
              %br
              %br

              = f.association :answers, label: 'Select one of the answers below to continue', collection: @poll.answers, label_method: :content, value_method: :id, as: :radio_buttons
            
              = f.button :submit, 'Submit', class: 'btn btn-primary'
