!!!
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = favicon_link_tag 'favicon.ico'
    %title
      = @place.name
      WiFi
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "wifi/spinner", :media => "all"
    - if @styles_exist
      = stylesheet_link_tag "wifi/#{@place.slug}/style", :media => "all"
    - else
      = stylesheet_link_tag "wifi/style", :media => "all"
    = stylesheet_link_tag "bootstrap", :media => "all"
    = stylesheet_link_tag "bootstrap-theme", :media => "all"

  %body
    .wrapper-out
      .wrapper-in
        .content
          - if @place.logo.file?
            = image_tag @place.logo.url, class: 'logo'
          - else
            %h1= @place.name
          %p
            - if @customer
              = t('wifi.greetings', customer_name: @customer.full_name)
            - else
              = t('wifi.greetings_to_no_one')
            %br
            = t('wifi.description').html_safe
          .socials
            - @networks.each do |network|
              = link_to "#{ENV['APP_URL']}auth/#{network.name}/", class: 'wifi_link' do
                = image_tag "wifi#{@icons_exist ? '/' + @place.slug + '/' : '/'}#{network.name}.png"
          - if @place.enter_by_password
            = form_tag("/wifi/#{@place.slug}/by_password", id: 'manual', method: 'post', class: 'password_form') do
              %input{:name => "password", :placeholder => "#{t('wifi.password_placeholder')}", :required => "", :type => "password"}/
              %input{:type => "submit", :value => ""}/
        %footer
          %p= t('wifi.footer')
          = link_to t('privacy_police.title'), page_path('privacy_policy')
    .loading{:hidden => "true"}
      .spinner
        .spinner-container.container1
          .circle1
          .circle2
          .circle3
          .circle4
        .spinner-container.container2
          .circle1
          .circle2
          .circle3
          .circle4
        .spinner-container.container3
          .circle1
          .circle2
          .circle3
          .circle4
    = javascript_include_tag "jquery", :media => "all"
    :javascript
      $(document).ready(function(){
          $(".socials>a").click(function(){
              $(".loading").attr("hidden", false);
          });

          $('.wifi_link').click(function() {
            $('.wifi_link').attr('href', '#');
          })
      });

    - if @place.background_active
      :css
        @media only screen and (min-width : 1024px) {
          body {
            background: url(#{@place.desktop_image.url}) no-repeat;
          }
        }

        @media only screen and (min-width : 480px) and (max-width : 1024px) {
          body {
            background: url(#{@place.tablet_image.url}) no-repeat;
          }
        }

        @media only screen and (max-width : 480px) {
          body {
            background: url(#{@place.mobile_image.url}) no-repeat;
          }
        }
