= render 'header', place: @place
= render 'networks', place: @place, auths: @auths
= render 'by_password', place: @place, auths: @auths
= render 'by_sms', place: @place, auths: @auths
= render 'poll', place: @place, auths: @auths
= render 'simple_enter', place: @place, auths: @auths
%br
= render_stock_image @place
