!!!
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title
      = @place.name
      WiFi
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "wifi", :media => "all"

  %body
    #content.gradient
      .inner
        - if @place.logo.exists?
          = image_tag @place.logo.url
        - else
          %h1= @place.name

        - if @customer
          %p= t('wifi.greetings', customer_name: @customer.full_name)
        .description= t('wifi.description')

        - @networks.each do |network|
          = link_to "#{ENV['APP_URL']}auth/#{network.name}/" do
            = image_tag "#{network.name}.png"

        - if @place.enter_by_password
          = form_tag('/enter_by_password', id: 'manual', method: 'post') do
            %input{:name => "pass", :placeholder => "или введите пароль...", :required => "", :type => "password"}/
            %input{:type => "submit", :value => ""}/
    #offer
      .inner
    /    %img{:alt => "", :src => "img/testoffer.jpg"}/
    /    .splash
    /      %p 2
    /      %p за
    /      %p 35 грн
    %footer
      %p= t('wifi.footer')
      %p= link_to t('privacy_police.title'), page_path('privacy_policy')



      - if @place.background_active
        :css
          @media only screen and (min-width : 1024px) {
            body {
              background: url(#{@place.desktop_image.url}) no-repeat;
            }
          }

          @media only screen and (min-width : 480px) and (max-width : 1024px) {
            body {
              background: url(#{@place.tablet_image.url}) no-repeat;
            }
          }

          @media only screen and (max-width : 480px) {
            body {
              background: url(#{@place.mobile_image.url}) no-repeat;
            }
          }
