= content_for :page_javascript, 'dashboard/input_binding'
= content_for :page_stylesheet, 'dashboard/settings'
= content_for :title, t('models.menu_items.actions.new.title')

.row
  .col-sm-4
    %h1= t('models.menu_items.actions.new.title')

    = render 'menu_items/form/new'