!!!
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = favicon_link_tag 'favicon.ico'
    %title= t('menu_item.shopping_history')
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "bootstrap", :media => "all"
    = stylesheet_link_tag "bootstrap-theme", :media => "all"
    %link{ :href => menu_items_list_path(:format => :css), :media => "all", :rel => "stylesheet" }

  %body
    .container
      .row
        .col-md-12
          %nav.nav.navbar-inverse
            .container-fluid
              .col-md-offset-4.col-md-4
                %h3= link_to t('menu_item.to_internet'), @place.redirect_url
              .col-md-4
                %ul.nav.navbar-nav.navbar-right
                  %li
                    %h3= link_to t('menu_item.back_to_shopping'), menu_items_list_path
      .row
        .col-md-12.text-center
          %h2= t('menu_item.shopping_history')
      .row
        - @orders.each do |order|
          .col-md-12
            .col-md-6
              %p
                = image_tag order.menu_item.image.url
            .col-md-6.text-center
              %h3= order.menu_item.name
              %p= order.menu_item.description
              - if @place.loyalty_program
                .col-md-4.text-center.bg-success
                  %h3 HA288ASD7
              - else
                .col-md-4
              .col-md-4.col-md-offset-4.text-center.bg-success
                %p= order.created_at
      .row
        .col-md-12.text-center= paginate @orders