= simple_form_for @user do |f|
  = f.error_notification
  - if current_user.admin? && current_user != @user
    = f.input :group, as: :select, collection: User.groups.keys
  = f.input :email
  = f.input :first_name
  = f.input :last_name
  = f.input :phone
  = f.input :timezone, as: :time_zone, include_blank: false, label: I18n.t('simple_form.labels.user.timezone')
  = f.input :password
  = f.input :password_confirmation

  = f.button :submit
