= simple_form_for @message, :url => url_for(:action => 'create_group_message', :controller => 'place_groups'), :method => 'post' do |f|
  = f.error_notification
  = f.association :social_network
  .facebook.vkontakte.twitter
    = f.input :message_link
    = f.input :image, as: :file
    = f.input :message, as: :text
  .instagram
    = f.input :subscription


  = f.button :submit
