.row
  .col-md-12.text-center
    %h2= t('menu_item.shopping_history')
.row
  - @orders.each do |order|
    - next if order.menu_items.empty?
    .col-xs-6.col-lg-4
      .wrapper
        .ribbon-wrapper-green
          .ribbon-green= order.menu_items.first.price
        .text-center= image_tag order.menu_items.first.image.url
        .caption.text-center
          %h2= order.menu_items.first.name
          %p
            %strong= "Date: #{order.created_at.to_formatted_s(:short)}"
.row
  .col-md-12.text-center= paginate @orders
