!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title GoFriends - Больше друзей в вашем заведении
    = favicon_link_tag 'favicon.ico'
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "home", :media => "all"
    = javascript_include_tag "home"
  %body
    %nav.navbar.navbar-custom.navbar-fixed-top.gradient
      .container-fluid
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => "#navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Навигация
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "mailto:info@gofriends.com.ua", :style => 'margin-top: 16px;'} info@gofriends.com.ua
        / Collect the nav links, forms, and other content for toggling
        #navbar-collapse.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              %a.scrollTo{:href => "#guests"} Новые гости
            %li
              %a.scrollTo{:href => "#how"} Как это работает
            %li
              %a.scrollTo{:href => "#benefits"} Выгоды
            %li
              %a.scrollTo{:href => "#contact"} Бесплатно
            %li
              = link_to 'Войти', login_path
        / /.navbar-collapse
      / /.container-fluid
    %header#header
      #logo
        = image_tag 'logo.png'
    #guests
      %h1 Ваши гости расскажут о Вас:
      = image_tag 'socials/fb.png'
      = image_tag 'socials/vk.png'
      = image_tag 'socials/tw.png'
      = image_tag 'socials/ok.png'
      .container-fluid
        .row
          .col-sm-4
            = image_tag 'photos/1.jpg'
          .col-sm-4
            = image_tag 'photos/2.jpg'
          .col-sm-4
            = image_tag 'photos/3.jpg'
    #how
      %h1 Как это работает
      .container
        .row
          .col-sm-7
            = image_tag 'how/1.jpg'
          .col-sm-5
            .carousel
              .carousel-inner
                %p
                  Вашему гостю нужен интернет и он подключается к бесплатной Wi-fi сети.
              .carousel-inner
                %p Гость получает доступ к интернету с помощью входа через свою любимую социальную сеть. На этой странице Вы так же можете разместить акцию или мероприятие Вашего заведения.
              .carousel-inner
                %p Ваш гость получил доступ в интернет, и первая страница, которую он видит вместо своей стартовой - Ваше сообщество в социальной сети или Ваш сайт! А так же на стене у гостя размещается пост о Вашем заведении, который видят все его друзья.
    #benefits
      %h1 Выгоды
      .container
        .row
          .col-md-4
            #head
              = image_tag 'benefits/3.png'
            #body
              %h1 Новые клиенты
              %p GoFriends - друзья придут! Гости от своего имени порекомендуют Вас своим друзьям, родственникам, коллегам, одногруппникам, одноклассникам, соседям и просто знакомым. Они так же расскажут о Ваших акциях, мероприятиях и других событиях.
          .col-md-4
            #head
              = image_tag 'benefits/1.png'
            #body
              %h1 Популяризация бренда в соц.сетях
              %p Ваши гости сами распространят информацию о Вас в социальных медиа, а так же станут Вашими подписчиками - эффект сарафанного радио! Весь процесс полностью автоматизирован, и поэтому больше не нужно платить IT или SMM специалисту.
          .col-md-4
            #head
              = image_tag 'benefits/2.png'
            #body
              %h1 Увеличение среднего чека
              %p Ваши гости благодаря программе лояльности станут постоянными клиентами и вернуться к Вам снова! И после утреннего кофе придут со своими друзьями отмечать свой День Рождение, корпоратив, День Свадьбы и другие праздники.
    #contact
      .container
        .row
          .col-md-6
            #test
              %h1 Хотите новых гостей?
              = image_tag '7days.png'
              %p Бесплатное тестирование
            = image_tag 'contact.jpg'
          .col-md-6
            = form_tag("/feedback", id: 'signup', method: 'post') do
              %input{:name => "name", :placeholder => "Имя и фамилия", :required => "", :type => "text"}/
              %input{:name => "email", :placeholder => "E-mail", :required => "", :type => "text"}/
              %input{:name => "tel", :placeholder => "Номер телефона", :required => "", :type => "text"}/
              %input{:type => "submit", :value => "Оставить заявку"}/
              %h1 или
              %h1
                позвонить
                %span 8(063)01-01-797
    %footer#footer
      %h1 8(063)01-01-797
      %h1 8(067)97-97-253
      %h2= link_to t('privacy_police.title'), page_path('privacy_policy')
      %a{:href => "http://rabby.com.ua/"}
        = image_tag "rabby.png"
    :javascript
      (function(d, w, s) {
      var widgetId = '21334', gcw = d.createElement(s); gcw.type = 'text/javascript'; gcw.async = true;
      gcw.src = '//my.binotel.ua/getcall/widgets/'+ widgetId +'.js';
      var sn = d.getElementsByTagName(s)[0]; sn.parentNode.insertBefore(gcw, sn);
      })(document, window, 'script');
