= content_for :page_stylesheet, 'code_highlight'
= content_for :page_javascript, 'code_highlight'

= simple_form_for [@place, @style], :html => { style: 'text-align: left', multipart: true } do |f|
  = f.error_notification
  = f.input :text_color, as: :minicolors, minicolors: {theme: :bootstrap, position: :top}
  = f.input :greating_color, as: :minicolors, minicolors: {theme: :bootstrap, position: :top}
  - Style::ICONS_ATTRS.each do |icon|
    = image_tag @style.send(icon).url, height: 65 if @style.send(icon).present?
    = f.input icon, as: :file
  - if @style.background.present?
    = image_tag @style.background.url, height: 100
  = f.input :background, as: :file
  = f.input :css, as: :text
  = f.input :js, as: :text if current_user.admin? || current_user.id == 293
  = f.input :line_colors, input_html: { class: 'line_colors' }

  = f.button :submit
  - if @style.id && policy(@style).destroy?
    = link_to t('helpers.submit.destroy'), place_style_path(@place, @style), method: 'delete', class: 'btn btn-danger'
