= simple_form_for [@place, @poll] do |f|
  = f.error_notification

  .form-inputs
    = f.input :question
    = f.simple_fields_for :answers do |a|
      = render 'answer_fields', :f => a     
      
  .form-actions
    = f.button :submit
