= content_for :title, t('models.polls.actions.edit.title')


.row
  .col-sm-6.col-sm-offset-3
    %h1= t('models.polls.actions.edit.title')

    = render 'form'

    %br
    = link_to t('models.polls.navigation.show'), place_poll_path(id: @poll.id, place_id: @place.slug), class: 'btn btn-primary'
    = link_to t('models.polls.navigation.back'), place_polls_path(@place), class: 'btn btn-default'
