= content_for :title, t('models.polls.actions.edit.title')

%h1= t('models.polls.actions.edit.title')

= render 'form'

= link_to t('models.polls.navigation.show'), place_poll_path(id: @poll.id, place_id: @place.slug)
\|
= link_to t('models.polls.navigation.back'), place_polls_path(@place)
