%h1 Listing polls

%table
  %thead
    %tr
      %th Question
      %th Answers
      %th
      %th
      %th

  %tbody
    - @polls.each do |poll|
      %tr
        %td= poll.question
        %td= poll.answers.count
        %td= link_to 'Show |', place_poll_path(id: poll.id, place_id: @place.slug)
        %td= link_to 'Edit |', edit_place_poll_path(id: poll.id, place_id: @place.slug)
        %td= link_to 'Destroy', place_poll_path(id: poll.id), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Poll', new_place_poll_path
