= content_for :title, t('models.polls.actions.show.title')

%p
  %b= @poll.question

%table.table.table-hover
  %thead
    %tr.container-fluid
      %th.col-md-6= t('models.polls.attrs.answer')
      %th.col-md-6= t('models.polls.attrs.selections_number')
  %tbody
    - @poll.answers.each do |a|
      %tr.container-fluid
        %td.text-left.col-md-6= a.content
        %td.text-left.col-md-6= a.number_of_selections

= link_to t('models.polls.navigation.edit'), edit_place_poll_path(id: @poll.id, place_id: @place.slug), class: 'btn btn-primary'
= link_to t('models.polls.navigation.back'), place_polls_path(@place), class: 'btn btn-default'

= pie_chart @poll.answers.group(:content).sum(:number_of_selections)

