- obj = PollAuth.new; obj.answers.build; form.object = obj unless form.object # Dirty hack

.form-inputs
  = form.input :question, placeholder: t("simple_form.labels.auth.resource.question")
  = form.simple_fields_for :answers do |a|

    .duplicatable_nested_form
      = a.input :content, label: t('simple_form.labels.auth.resource.answer'), placeholder: t('simple_form.labels.auth.resource.answer')
      = link_to t('simple_form.labels.auth.resource.remove'), '', remote: true, class: 'destroy_duplicate_nested_form'

  = link_to t('simple_form.labels.auth.resource.add_answer'), '', class: 'duplicate_nested_form'

- form.object = nil # More dirty hacks
