%table.table.table-bordered.table-striped
  %thead
    %tr
      %th.text-center= t("statistics.loyalty.time")
      %th.text-center= t("statistics.loyalty.social_network_id")
      %th.text-center= t("statistics.loyalty.price")
      %th.text-center= t("statistics.loyalty.received")
      %th.text-center= t("statistics.loyalty.current_id_score")
  %tbody
    -orders.each do |order|
      %tr{ id: "order_#{order.id}"}
        %td= order.time
        %td
          - order.customer_profiles.each do |profile|
            = link_to fa_icon(profile.font_awesome_name), profile.resource.url
        %td= order.price
        %td= order.items_received
        %td= order.customer_score
