%table.table.table-bordered.table-striped
  %thead
    %tr
      %th= "Time"
      %th= "Social network ID"
      %th= "Price"
      %th= "Received"
      %th= "Current ID score"
  %tbody
    -orders.each do |order|
      %tr
        %td= order.time
        %td= order.customer_full_name
        %td= order.price
        %td= order.items_received
        %td= order.customer_score
