= content_for :page_stylesheet, 'dashboard/statistic'
= content_for :page_javascript, 'dashboard/statistic'
= content_for :title, t("statistic.loyalty.title")


= render 'date_picker', orders: @orders, place: @place
= render 'table', orders: @orders


-# .row.analysis
  -# - @items.each do |menu_item|
    -# = render 'analysis', menu_item: menu_item
