= simple_form_for Message.new, :url => url_for(:action => 'set_group_message', :controller => 'categories'), :method => 'post' do |f|
  = f.error_notification
  = f.association :social_network
  .facebook.vkontakte.twitter
    = f.input :message_link
    = f.input :image, as: :file
    = f.input :message, as: :text
  .instagram
    = f.input :subscription


  = f.button :submit
