.wrapper
  .container
    %h2= t('menu_item.greetings', customer_name: @customer.first_name, place_name: @place.name)
    .outer
      .button
        = link_to @auth.redirect_url do
          %b= t('menu_item.to_internet')
          = image_tag 'loyalty/arrow-inet.png'
    %p= t('menu_item.added_bonus', place_score_amount: @place.score_amount)
    .row
      - @menu_items.each do |item|
        #product-1.col-xs-6.col-sm-6.col-md-3.products
          .order
            = image_tag item.image.url, class: 'product'
            .price
              %span
                %b= item.price
              = image_tag 'loyalty/star-green.png'
            .product-name
              %span
                %b= item.name
          - if item.price > @reputation.score
            .insufficient
              = link_to '#', onclick: 'return false;' do
                %b= t('menu_item.not_enough_points')
                = image_tag 'loyalty/star-white.png'
          - else
            .exchange
              = link_to order_path(@place.slug, item.id, auth: @auth.id), method: :post, data: { confirm: t('menu_item.confirm_order', item_price: item.price) } do
                %b= t('menu_item.buy')
                = image_tag 'loyalty/star-white.png'
