= simple_form_for [:adm, @user, @place] do |f|
  = f.error_notification
  = f.input :name
  = f.input :slug
  = f.input :enter_by_password, as: :boolean, inline_label: 'Enter by password'
  .adm_place_password
    = f.input :password
  = f.input :active, as: :boolean, inline_label: 'Is place active?'
  = f.input :background_active, as: :boolean, inline_label: 'Is place has different backgrounds?'
  .place_backgrounds
    - if @place.mobile_image.present?
      = image_tag @place.mobile_image.url, height: 100
    = f.input :mobile_image, as: :file
    - if @place.tablet_image.present?
      = image_tag @place.tablet_image.url, height: 100
    = f.input :tablet_image, as: :file
    - if @place.desktop_image.present?
      = image_tag @place.desktop_image.url, height: 100
    = f.input :desktop_image, as: :file

  = f.button :submit
