= content_for :title, "Places"
%section.content-header
  %h1= yield(:title)

  - navigation_add 'Places', adm_places_path
  = render_navigation

%section.content
  .box.box-solid
    .box-body
      %table.table.table-striped
        %thead
          %tr
            %th id
            %th name
            %th user
            %th
        %tbody
        - @places.each do |place|
          %tr
            %th= place.id
            %td= place.name
            %td= link_to place.user.email, adm_user_path(place.user)
            %td
              = link_to 'edit', edit_adm_place_path(place), class: 'btn btn-warning'
              -#= link_to 'edit pass', edit_password_adm_user_path(user), class: 'btn btn-primary'
              = link_to 'destroy', adm_place_path(place), class: 'btn btn-danger', method: 'DELETE', data: { confirm: "Delete place #{place.name}?"}