= content_for :title, "Place #{@place.name}"
%section.content-header
  %h1= yield(:title)

  - navigation_add 'Users', adm_users_path
  - navigation_add "User #{@user.id}", adm_user_path(@user)
  - navigation_add 'Places', adm_user_places_path(@user)
  - navigation_add "Place #{@place.id}", adm_user_place_path(@user, @place.id)
  = render_navigation

%section.content
  .row
    .col-md-4
      .box
        .box-header.with-border
          Place information
          = link_to 'Edit', edit_adm_user_place_path(@user, @place), class: 'btn btn-primary pull-right'
        .box-body
          %ul.list-group
            %li.list-group-item
              Name
              %span.text-muted.pull-right= @place.name
            %li.list-group-item
              Slug
              %span.text-muted.pull-right= @place.slug
            %li.list-group-item
              Place active
              %span.text-muted.pull-right
                - if @place.active
                  %i.fa.fa-thumbs-o-up
                - else
                  %i.fa.fa-thumbs-o-down
            %li.list-group-item
              Enter by password
              %span.text-muted.pull-right
                - if @place.enter_by_password
                  %i.fa.fa-thumbs-o-up
                - else
                  %i.fa.fa-thumbs-o-down
            - if @place.enter_by_password
              %li.list-group-item
                Password
                %span.text-muted.pull-right= @place.password
            %li.list-group-item
              Background
              %span.text-muted.pull-right
                - if @place.background_active
                  %i.fa.fa-thumbs-o-up
                - else
                  %i.fa.fa-thumbs-o-down
            - if @place.background_active
              %li.list-group-item
                mobile
                .pull-right
                  = link_to 'img', @place.mobile_image.url
              %li.list-group-item
                tablet
                .pull-right
                  = link_to 'img', @place.tablet_image.url
              %li.list-group-item
                desktop
                .pull-right
                  = link_to 'img', @place.desktop_image.url


  - @networks.each do |network|
    .box
      .box-header.with-border
        = network.name
        messages
        = link_to 'New message', new_adm_user_place_message_path(@user, @place), class: 'btn btn-primary btn-xs pull-right'
      .box-body
        %table.table.table-striped
          %thead
            %tr
              %th id
              %th message
              %th attachments
              %th redirect link
              %th post link
              %th active
              %th
          %tbody
            - @place.messages.where(social_network: network).each do |message|
              %tr
                %td= message.id
                %td= message.message
                %td= image_tag message.image, height: 100
                %td= message.redirect_link
                %td= message.message_link
                %td
                  - if message.active
                    %i.fa.fa-thumbs-o-up
                  - else
                    %i.fa.fa-thumbs-o-down
                %td
              %tr
                %td{:colspan => '6'}
                  - if message.active
                    = link_to 'deactivate', deactivate_adm_user_place_message_path(@user, @place, message), class: 'btn btn-danger'
                  - else
                    = link_to 'activate', activate_adm_user_place_message_path(@user, @place, message), class: 'btn btn-success'
                  = link_to 'edit', edit_adm_user_place_message_path(@user, @place, message), class: 'btn btn-warning'
                  = link_to 'destroy', adm_user_place_message_path(@user, @place, message), class: 'btn btn-danger', method: 'DELETE'
