%h1
  Place '#{@place.name}'
  = link_to 'Edit this place', edit_adm_user_place_path(@user, @place), class: 'btn btn-primary pull-right'


.row
  .col-md-3
    %ul.list-group
      %li.list-group-item
        Name
        %span.badge.pull-right= @place.name
      %li.list-group-item
        Slug
        %span.badge.pull-right= @place.slug
      %li.list-group-item
        Place active
        %span.badge.pull-right= @place.active
      - if @place.enter_by_password
        %li.list-group-item
          Enter by password
          %span.badge.pull-right= @place.enter_by_password
        %li.list-group-item
          Password
          %span.badge.pull-right= @place.password
