= content_for :title, "Place #{@place.name}"
%section.content-header
  %h1= yield(:title)

  - navigation_add 'Users', adm_users_path
  - navigation_add "User #{@place.user.id}", adm_user_path(@place.user)
  - navigation_add "Place #{@place.id}", adm_place_path(@place)
  = render_navigation

%section.content
  - if @place.style
    = link_to 'Destroy style', adm_style_path(@place.style), method: :delete, class: 'btn btn-danger pull-right'
    - if @place.style.background.exists?
      = link_to 'Remove background', remove_background_adm_style_path(@place.style), method: :patch, class: 'btn btn-warning pull-right'
    = link_to 'Edit style', edit_adm_style_path(@place.style), class: 'btn btn-info pull-right'
  - else
    = link_to 'Add place style', new_adm_place_style_path(@place), class: 'btn btn-success pull-right'
  .row
    .col-md-4
      .box
        .box-header.with-border
          Place information
          = link_to 'Edit', edit_adm_place_path(@place), class: 'btn btn-primary pull-right'

        .box-body
          %ul.list-group
            %li.list-group-item
              Name
              %span.text-muted.pull-right= @place.name
            %li.list-group-item
              Slug
              %span.text-muted.pull-right= @place.slug
            %li.list-group-item
              Enter without authorization
              %span.text-muted.pull-right
                = thumb @place.simple_enter
            %li.list-group-item
              Loyalty program
              %span.text-muted.pull-right
                = thumb @place.loyalty_program
            %li.list-group-item
              Redirect url
              %span.text-muted.pull-right= link_to 'link', @place.redirect_url
            %li.list-group-item
              Template
              %span.text-muted.pull-right= @place.template
            %li.list-group-item
              Place active
              %span.text-muted.pull-right
                = thumb @place.active
            %li.list-group-item
              Enter by password
              %span.text-muted.pull-right
                = thumb @place.enter_by_password
            %li.list-group-item
              Enter by sms
              %span.text-muted.pull-right
                = thumb @place.sms_auth
            - if @place.enter_by_password
              %li.list-group-item
                Password
                %span.text-muted.pull-right= @place.password

  - @networks.each do |network|
    .box
      .box-header.with-border
        = network.name
        messages
        = link_to 'New message', new_adm_place_message_path(@place), class: 'btn btn-primary btn-xs pull-right'
      .box-body
        %table.table.table-striped
          %thead
            %tr
              %th id
              %th message
              %th attachments
              %th post link
              %th active
              %th
          %tbody
            - @place.messages.where(social_network: network).each do |message|
              %tr
                %td= message.id
                %td= message.message.empty? ? message.subscription : message.message
                %td
                  - if message.image.exists?
                    = image_tag message.image, height: 100
                %td= message.message_link
                %td= thumb message.active
                %td
              %tr
                %td{:colspan => '6'}
                  - if message.active
                    = link_to 'deactivate', deactivate_adm_message_path(message), class: 'btn btn-danger'
                  - else
                    = link_to 'activate', activate_adm_message_path(message), class: 'btn btn-success'
                  = link_to 'edit', edit_adm_message_path(message), class: 'btn btn-warning'
                  = link_to 'destroy', adm_message_path(message), class: 'btn btn-danger', method: 'DELETE'
  .box
    .box-header.with-border
      Polls
    .box-body
      - @place.polls.each do |poll|
        %table.table
          %thead
            %tr
              %th.col-md-6 Question:
          %tbody
            %tr
              %td.col-md-6= poll.question
              %table.table-bordered
                %thead
                  %tr.container-fluid
                    %th.col-md-6 Answer:
                    %th.col-md-6 Number of selections:
                - poll.answers.each do |answer|
                  %tbody
                    %tr.container-fluid
                      %td.col-md-6= answer.content
                      %td.col-md-6= answer.number_of_selections
