= content_for :title, "Place #{@place.name}"
%section.content-header
  %h1= yield(:title)

  - navigation_add 'Users', adm_users_path
  - navigation_add "User #{@place.user.id}", adm_user_path(@place.user)
  - navigation_add "Place #{@place.id}", adm_place_path(@place)
  = render_navigation

%section.content
  - if @place.style
    = link_to 'Destroy style', adm_style_path(@place.style), method: :delete, class: 'btn btn-danger pull-right'
    - if @place.style.background.present?
      = link_to 'Remove background', remove_background_adm_style_path(@place.style), method: :patch, class: 'btn btn-warning pull-right'
    = link_to 'Edit style', edit_adm_style_path(@place.style), class: 'btn btn-info pull-right'
  - else
    = link_to 'Add place style', new_adm_place_style_path(@place), class: 'btn btn-success pull-right'
  .row
    .col-md-4
      .box
        .box-header.with-border
          Place information
          = link_to 'Edit', edit_adm_place_path(@place), class: 'btn btn-primary pull-right'

        .box-body
          %ul.list-group
            %li.list-group-item
              Name
              %span.text-muted.pull-right= @place.name
            %li.list-group-item
              Slug
              %span.text-muted.pull-right= @place.slug
            %li.list-group-item
              Loyalty program
              %span.text-muted.pull-right
                = thumb @place.loyalty_program
            %li.list-group-item
              Template
              %span.text-muted.pull-right= @place.template
            %li.list-group-item
              Place active
              %span.text-muted.pull-right
                = thumb @place.active
            %li.list-group-item
              Demo place
              %span.text-muted.pull-right
                = thumb @place.demo
            %li.list-group-item
              Created at
              %span.text-muted.pull-right= @place.created_at.strftime('%d/%m/%Y')

  .box
    .box-header.with-border
      Polls
    .box-body
      - @place.polls.each do |poll|
        %table.table
          %thead
            %tr
              %th.col-md-6 Question:
          %tbody
            %tr
              %td.col-md-6= poll.question
              %table.table-bordered
                %thead
                  %tr.container-fluid
                    %th.col-md-6 Answer:
                    %th.col-md-6 Number of selections:
                - poll.answers.each do |answer|
                  %tbody
                    %tr.container-fluid
                      %td.col-md-6= answer.content
                      %td.col-md-6= answer.number_of_selections
