%article.vk-post
  = image_tag("vk-user-photo.jpg", class: "vk-post__user-photo")
  %span.vk-post__user-name= t(".name")
  = image_tag(resource.image, class: 'vk-post__post-img')
  %p.vk-post__description
    %span= resource.message
    = link_to resource.message_url, class: 'vk-post__link'
  .vk-post__options.clear-fix
    .vk-post__options--left-column
      %span.vk-post__adding-time= t(".time")
      %span.vk-post__reply{href: ""}= t(".reply")
    .vk-post__options--right-column
      .vk-post__actions.vk-post__actions--share
        %span.vk-post__action--title= t(".share")
        %span.vk-post__action--quantity.vk-post__action--quantity--share 525
      .vk-post__actions
        %span.vk-post__action--title= t(".like")

        %span.vk-post__action--quantity.vk-post__action--quantity--like 4256
