%h1 Login
= simple_form_for @user_session, wrapper: :inline_form, html: { class: 'form-inline' } do |f|                                             |
  = f.error_notification
  = f.input :email, placeholder: 'Enter email'
  = f.input :password, placeholder: 'Password'
  = f.input :remember_me, as: :boolean, inline_label: 'Remember me'
  = f.button :submit
