= simple_form_for @place do |f|
  = f.error_notification
  = f.input :name
  = f.input :city
  - if @place.user
    = f.input :place_group_id, collection: @place.user.place_groups.all, label_method: ->(obj){ obj.name }, label: t('models.place_groups.class')
  - else 
    = f.input :place_group_id, collection: current_user.place_groups.all, label_method: ->(obj){ obj.name }, label: t('models.place_groups.class')
  - if @subordinated_users
    = f.input :user_id, collection: @subordinated_users, label_method: ->(obj){ obj.full_name + ' (' + obj.email + ')'}, label: t('models.places.attrs.owner'), include_blank: false
  - else
    = f.input :user_id, as: :hidden, :input_html => { :value => "#{params[:user] ? params[:user] : current_user.id}" }
  = f.input :domen_url, collection: Place::DOMAIN_LIST, include_blank: false
  = f.input :logo, as: :file
  = f.input :active, as: :boolean
  = f.input :stocks_active, as: :boolean
  = f.input :polls_active, as: :boolean
  = f.input :reputation_on, as: :boolean
  = f.input :simple_enter, as: :boolean
  = f.input :loyalty_program, as: :boolean
  = f.input :display_my_banners, as: :boolean
  = f.input :display_other_banners, as: :boolean
  = f.input :score_amount
  = f.input :redirect_url
  = f.input :enter_by_password, as: :boolean, input_html: { class: 'enter_by_password_check' }
  .enter_by_password
    = f.input :password, as: :string

  = f.button :submit
