= simple_form_for @place do |f|
  = f.error_notification
  = f.input :name
  = f.input :logo, as: :file
  = f.input :active, as: :boolean
  = f.input :stocks_active, as: :boolean
  = f.input :redirect_url
  = f.input :enter_by_password, as: :boolean, input_html: { class: 'enter_by_password_check' }
  .enter_by_password
    = f.input :password, as: :string
  = f.input :user_id, as: :hidden, :input_html => { :value => "#{params[:user] ? params[:user] : current_user.id}" }

  = f.button :submit
