= content_for :page_stylesheet, 'dashboard/guests'
= content_for :page_javascript, 'dashboard/guests'
= content_for :title, t('models.places.actions.birthdays.title', place_name: @place.name)


.row.birthdays-table-container
  %table.col-sm-8.col-sm-offset-2.col-xs-12.guests-table.guests-table-minimized
    %tr.row
      %th.col-xs-4= t('models.places.actions.birthdays.table.user')
      %th.col-xs-4= t('models.places.actions.birthdays.table.network')
      %th.col-xs-4= t('models.places.actions.birthdays.table.birthday')
    - @customers.each do |customer|
      %tr.row
        %td.col-xs-4= customer.full_name
        %td.col-xs-4
          - customer.network_profiles.joins(:visits).where('customer_visits.place_id = ?', @place.id).uniq.includes(:social_network).each do |np|
            = link_to fa_icon(np.social_network.font_awesome_name), np.url
        %td.col-xs-4= customer.birthday.strftime('%d.%m.%Y')
  .col-sm-2.guests-table-arrow= fa_icon "angle-double-down"
