= content_for :page_stylesheet, 'dashboard/guests'
= content_for :page_javascript, 'dashboard/guests'
= content_for :title, t('models.places.guests.edit.title', place_name: @place.name)


.row.guests-table-container
  %table.col-sm-8.col-sm-offset-2.col-xs-12.guests-table.guests-table-minimized
    %tr.row
      %th.col-xs-4= t('models.places.actions.guests.table.user')
      %th.col-xs-4= t('models.places.actions.guests.table.network')
      %th.col-xs-4= t('models.places.actions.guests.table.connection_number')
    - @customers.each do |customer|
      %tr.row
        %td.col-xs-4= customer.customer.full_name
        %td.col-xs-4= link_to fa_icon(customer.social_network.font_awesome_name), customer.url
        %td.col-xs-4= customer.visits.where(place: @place).count
  .col-sm-2.guests-table-arrow
    = fa_icon "angle-double-down"
