= content_for :title, t('models.places.actions.index.title')
= content_for :navigation, 'false'

.header
  %h1
    = t ('models.places.actions.index.my_places')
    (
    %span= @places.length
    )
%p= link_to t('models.place_groups.actions.new.title'), new_place_group_path, class: 'btn btn-primary'

- if !@place_groups || @place_groups.empty?
  %ul.facility
    - @places.each do |place|
      %li= link_to place.name, place_path(place)
- else
  - @place_groups.each do |place_group|
    %h1= place_group.name
    %p= link_to t('helpers.submit.edit'), edit_place_group_path(place_group)
    %ul.facility
      - place_group.places.each do |place|
        %li= link_to place.name, place_path(place)
    %br
    %br
    %br
    %br
  - if @places.include? Place.find_by(place_group_id: nil)   
    %h1 Uncategorized places
    %ul.facility
      - @places.each do |place|
        - if !place.place_group_id
          %li= link_to place.name, place_path(place)
