= content_for :title, t('models.places.actions.index.title')
= content_for :navigation, 'false'

.panel.panel-info.panel-adjusted
  .panel-heading
    %h1
      = t('models.places.actions.index.my_places')
      (
      %span= @places.length
      )
  .panel-body
    %ul.facility
      - @places.each do |place|
        %li= link_to place.name, place_path(place)
