= content_for :title, t('models.places.actions.index.title')
= content_for :navigation, 'false'

.header
  %h1
    = t 'models.places.actions.index.my_places'
    (
    %span= @places.length
    )
%ul.facility
  - @places.each do |place|
    %li= link_to place.name, place_path(place)
