= content_for :page_stylesheet, 'dashboard/settings'
= content_for :page_javascript, 'dashboard/settings'
= content_for :title, t('models.places.actions.settings.title', place_name: @place.name)

.row.settings
  .col-sm-5
    %h1= t('models.places.actions.settings.wifi')
    %ul.list-group.list-wifi_settings
      %li.list-group-item
        = t('models.places.attrs.name')
        %span.text-muted.pull-right= @place.name
      %li.list-group-item
        = t('models.places.attrs.owner')
        %span.text-muted.pull-right= @place.user.full_name
      %li.list-group-item
        = t('models.places.attrs.ssid')
        %span.text-muted.pull-right= @place.ssid
      %li.list-group-item
        = t('models.places.attrs.domen_url')
        %span.text-muted.pull-right= @place.domen_url
      %li.list-group-item
        = t('models.places.attrs.city')
        %span.text-muted.pull-right= @place.city
      - if @place.logo.present?
        %li.list-group-item.img
          = t('models.places.attrs.logo')
          .pull-right
            = image_tag @place.logo.url, height: 50
      %li.list-group-item
        = t('models.places.attrs.active')
        %span.text-muted.pull-right= fa_plus_minus(@place.active)
      %li.list-group-item
        = t('models.places.attrs.stocks_active')
        %span.text-muted.pull-right= fa_plus_minus(@place.stocks_active)
      %li.list-group-item
        = t('models.places.attrs.reputation_active')
        %span.text-muted.pull-right= fa_plus_minus(@place.reputation_on)
      %li.list-group-item
        = t('models.places.attrs.loyalty_program')
        %span.text-muted.pull-right= fa_plus_minus(@place.loyalty_program)
      %li.list-group-item
        = t('models.places.attrs.display_my_banners')
        %span.text-muted.pull-right= fa_plus_minus(@place.display_my_banners)
      %li.list-group-item
        = t('models.places.attrs.display_other_banners')
        %span.text-muted.pull-right= fa_plus_minus(@place.display_other_banners)
      %li.list-group-item
        = t('models.places.attrs.score_amount')
        %span.text-muted.pull-right= @place.score_amount
      %li.list-group-item
        = t('models.places.attrs.redirect_url')
        %span.text-muted.pull-right= link_to fa_icon('external-link'), @place.redirect_url ,target:"_blank"
      %li.list-group-item
        = t('models.places.attrs.wifi_link')
        %span.text-muted.pull-right= link_to fa_icon('external-link'), gowifi_place_path(@place) ,target:"_blank"
      %li.list-group-item
        =  t('models.places.actions.settings.auth_default_lang')
        %span.text-muted.pull-right= @place.auth_default_lang.to_s
      %li.list-group-item
        = link_to t('helpers.submit.edit'), edit_place_path(@place, user: @place.user_id), class: 'btn btn-primary btn-block'
      %li.list-group-item
        = link_to "#{t('helpers.submit.edit')} #{t('models.style.page')}", @place.style ? edit_place_style_path(@place, @place.style) : new_place_style_path(@place), class: 'btn btn-success btn-block'
      - if @place.wifi_settings_link && policy(@place).download_settings?
        %li.list-group-item
          = link_to t('models.places.actions.settings.download_settings'), @place.wifi_settings_link, class: 'btn btn-block btn-info'
  .col-sm-7
    %h1= t('models.places.actions.settings.messages')
    - if @place.mfa
      %ul.nav.nav-tabs{ style: 'margin: -30px 15px 0 0;', id: 'authTabs' }
        - Auth.steps.keys.each do |step|
          %li{ role: "presentation", class: "#{ 'active' if step == 'primary' }" }
            %a{ href: "##{step}", aria: { controls: step }, role: "tab", data: { toggle: "tab"} }= t(step.humanize, scope: ['models', 'auths'])
    %div{ style: "position: absolute; right: 15px; top: 30px;" }
      = link_to t("models.auths.add_auth"), new_place_auth_path(@place, step: Auth.steps.first.first), class: 'btn btn-info btn-xs', id: 'newAuthLink'
    .row
      .tab-content
        - Auth.steps.keys.each do |step|
          .tab-pane{ role: 'tabpanel', class: "#{ 'active' if step == Auth.steps.first.first }", id: step }
            - @place.auths.active.send(step).each do |auth|
              .panel.panel-default.panel-settings{ style: "margin-top: #{@place.mfa ? 20 : 30}px;"}
                .panel-heading
                  .panel-title= t("models.auths.methods.#{auth.resource.class::NAME}").capitalize + " (Unapproved)" unless auth.notification.nil?
                .panel-body
                  = render partial: "#{auth.resource.class::NAME}_auths/details", locals: { resource: auth.resource, place: @place }
                .panel-footer
                  = link_to t("helpers.submit.edit"), edit_place_auth_path(@place, auth), class: 'btn btn-primary btn-block'
                  = link_to t("helpers.submit.destroy"), place_auth_path(@place, auth), method: 'DELETE', class: 'btn btn-danger btn-block'
            - unless @place.auths.active.send(step).any?
              .panel.panel-default.panel-settings{ style: "margin-top: #{@place.mfa ? 20 : 30}px;"}
                .panel-body
                  .row
                    .col-sm-8= t("models.auths.no_auth")
