= content_for :page_stylesheet, 'dashboard/settings'
= content_for :title, t('models.places.actions.settings.title', place_name: @place.name)

.row.settings
  .col-sm-5
    %h1= t('models.places.actions.settings.wifi')
    %ul.list-group.list-wifi_settings
      %li.list-group-item
        = t('models.places.attrs.name')
        %span.text-muted.pull-right= @place.name
      - if @place.logo.exists?
        %li.list-group-item.img
          = t('models.places.attrs.logo')
          .pull-right
            = image_tag @place.logo.url, height: 50
      %li.list-group-item
        = t('models.places.attrs.active')
        %span.text-muted.pull-right= fa_plus_minus(@place.active)
      %li.list-group-item
        = t('models.places.attrs.stocks_active')
        %span.text-muted.pull-right= fa_plus_minus(@place.stocks_active)
      %li.list-group-item
        = t('models.places.attrs.reputation_active')
        %span.text-muted.pull-right= fa_plus_minus(@place.reputation_on)
      %li.list-group-item
        = t('models.places.attrs.loyalty_program')
        %span.text-muted.pull-right= fa_plus_minus(@place.loyalty_program)
      %li.list-group-item
        = t('models.places.attrs.loyalty_program_without_codes')
        %span.text-muted.pull-right= fa_plus_minus(@place.loyalty_program_without_codes)
      %li.list-group-item
        = t('models.places.attrs.score_amount')
        %span.text-muted.pull-right= @place.score_amount
      %li.list-group-item
        = t('models.places.attrs.by_password')
        %span.text-muted.pull-right= fa_plus_minus(@place.enter_by_password)
      - if @place.enter_by_password
        %li.list-group-item
          = t('models.places.attrs.password')
          %span.text-muted.pull-right= @place.password
      %li.list-group-item
        = t('models.places.attrs.redirect_url')
        %span.text-muted.pull-right= link_to fa_icon('external-link'), @place.redirect_url
      %li.list-group-item
        = t('models.places.attrs.wifi_link')
        %span.text-muted.pull-right= link_to fa_icon('external-link'), gowifi_place_path(@place)
      %li.list-group-item
        = link_to t('helpers.submit.edit'), edit_place_path(@place, user: @place.user_id), class: 'btn btn-primary btn-block'
      %li.list-group-item
        = link_to "#{t('helpers.submit.edit')} #{t('models.style.page')}", @place.style ? edit_place_style_path(@place, @place.style) : new_place_style_path(@place), class: 'btn btn-success btn-block'
      - if @place.wifi_settings_link && can?(:download_settings, @place)
        %li.list-group-item
          = link_to t('models.places.actions.settings.download_settings'), @place.wifi_settings_link, class: 'btn btn-block btn-info'
  .col-sm-7
    %h1= t('models.places.actions.settings.messages')
    %form{ :action => "#{settings_place_path(@place)}",  :method => "get"}
      .row
        .col-sm-4.col-sm-offset-4
          = select_tag "message", options_from_collection_for_select(@networks, "name", "name"), include_blank: true, onchange: "this.form.submit();"
    .row
      - if @message
        .panel.panel-default.panel-settings
          .panel-heading
            .panel-title
              = t('models.messages.message_for', name: @message.social_network.font_awesome_name)
              = link_to t('helpers.submit.add', name: t('models.messages.attrs.message')), new_place_message_path(@place), class: 'btn btn-info btn-xs pull-right'
          .panel-body
            - if @message.social_network.name == 'instagram'
              %ul.list-group
                %li.list-group-item
                  = t('models.messages.attrs.subscription')
                  %span.text-muted.pull-right= @message.subscription
            - else
              .row
                .col-sm-8
                  = "#{t('models.messages.attrs.message').capitalize}:"
                  .panel.panel-default
                    .panel-body
                      = @message.message
                      %br
                      = link_to @message.message_link, @message.message_link
                .col-sm-4
                  = image_tag @message.image.url, class: 'img-responsive'
          .panel-footer
            = link_to t('helpers.submit.edit'), edit_place_message_path(@place, @message), class: 'btn btn-primary btn-block'
            = link_to t('helpers.submit.destroy'), place_message_path(@place, @message), method: 'DELETE', class: 'btn btn-danger btn-block'
      - else
        %ul.list-group
          %li.list-group-item= link_to t('helpers.submit.add', name: t('models.messages.attrs.message')), new_place_message_path(@place), class: 'btn btn-info btn-block'
