= content_for :page_javascript, 'dashboard/statistic'
= content_for :title, t('models.places.actions.show.title', place_name: @place.name)

.row.calendar-container
  .col-sm-2
    %select#month
      - t('date.abbr_month_names')[1..-1].each_with_index do |month, index|
        %option{:value => index}= month
  .col-sm-8.calendar
    .calendar-inner
      .day
        %h2
          %a{:href => "#"} 11
        %a{:href => "#"}
    .calendar-bar
      = fa_icon "chevron-left", class: 'aleft'
      = fa_icon "chevron-right", class: 'aright'
.row.statistics-table-container
  %table.col-sm-8.col-sm-offset-2.col-xs-12.statistics-table.statistics-table-minimized
    %tr.row
      %th.col-xs-4= t('models.places.actions.show.table.time')
      %th.col-xs-4= t('models.places.actions.show.table.network')
      %th.col-xs-4= t('models.places.actions.show.table.customer')
    - @visits_by_date.each do |visit|
      %tr.row
        %td.col-xs-4= visit.created_at.strftime('%k:%M')
        = render 'places/visits/password', visit: visit
        = render 'places/visits/sms', visit: visit
        = render 'places/visits/social_network', visit: visit
  .col-sm-2.statistics-table-arrow
    = fa_icon "angle-double-down"
.row.analysis
  .col-sm-4.analysis-col
    .analysis-col-inner
      %h1
        = "#{t('models.places.actions.show.info.day')}:"
        %span= @visits_by_date.by_social_network.count

    .analysis-col-inner
      %h2
        = "#{t('models.places.actions.show.info.auditory')}:"
        %span= @number_of_friends_by_day
      .row.pic
        .col-xs-6.col-xs-offset-6
          = fa_icon 'users'
      .row.gender
        .col-xs-6
          = "#{t('models.places.actions.show.info.gender')}:"
        .col-xs-6
          %p
            = "#{t('models.places.actions.show.info.men')}:"
            %span= @visits_by_date.by_gender['male']
          %p
            = "#{t('models.places.actions.show.info.women')}:"
            %span= @visits_by_date.by_gender['female']
    .analysis-col-inner
      %h2
        SMS:
        %span= @visits_by_date.by_sms.count
  .col-sm-4.analysis-col
    .analysis-col-inner
      %h1
        = "#{t('models.places.actions.show.info.week')}:"
        %span= @visits_this_week.by_social_network.count
    .analysis-col-inner
      %h2
        = "#{t('models.places.actions.show.info.auditory')}:"
        %span= @number_of_friends_by_week
      .row.pic
        .col-xs-6.col-xs-offset-6
          = fa_icon 'users'
      .row.gender
        .col-xs-6
          = "#{t('models.places.actions.show.info.gender')}:"
        .col-xs-6
          %p
            = "#{t('models.places.actions.show.info.men')}:"
            %span= @visits_this_week.by_gender['male']
          %p
            = "#{t('models.places.actions.show.info.women')}:"

            %span= @visits_this_week.by_gender['female']
    .analysis-col-inner
      %h2
        SMS:
        %span= @visits_this_week.by_sms.count
  .col-sm-4.analysis-col
    .analysis-col-inner
      %h1
        = "#{t('models.places.actions.show.info.month')}:"
        %span= @visits_this_month.by_social_network.count
    .analysis-col-inner
      %h2
        = "#{t('models.places.actions.show.info.auditory')}:"
        %span= @number_of_friends_by_month
      .row.pic
        .col-xs-6.col-xs-offset-6
          = fa_icon 'users'
      .row.gender
        .col-xs-6
          = "#{t('models.places.actions.show.info.gender')}:"
        .col-xs-6
          %p
            = "#{t('models.places.actions.show.info.men')}:"
            %span= @visits_this_month.by_gender['male']
          %p
            = "#{t('models.places.actions.show.info.women')}:"
            %span= @visits_this_month.by_gender['female']
      .row.age
    .analysis-col-inner
      %h2
        SMS:
        %span= @visits_this_month.by_sms.count
