= content_for :page_javascript, 'dashboard/statistic'
= content_for :title, t('models.places.actions.show.title', place_name: @place.name)

.row.calendar-container
  .col-sm-2
    %select#month
      - t('date.abbr_month_names')[1..-1].each_with_index do |month, index|
        %option{:value => index}= month
  .col-sm-8.calendar
    .calendar-inner
      .day
        %h2
          %a{:href => "#"} 11
        %a{:href => "#"}
    .calendar-bar
      = fa_icon "chevron-left", class: 'aleft'
      = fa_icon "chevron-right", class: 'aright'
.row.statistics-table-container
  %table.col-sm-8.col-sm-offset-2.col-xs-12.statistics-table.statistics-table-minimized
    %tr.row
      %th.col-xs-4= t('models.places.actions.show.table.time')
      %th.col-xs-4= t('models.places.actions.show.table.network')
      %th.col-xs-4= t('models.places.actions.show.table.customer')
    - @visits_by_date_without_join.each do |visit|
      %tr.row
        %td.col-xs-4= visit.created_at.strftime('%k:%M')
        - if visit.by_password
          %td.col-xs-4= fa_icon 'key'
          %td.col-xs-4
        - elsif visit.by_sms
          %td.col-xs-4= fa_icon 'mobile'
          %td.col-xs-4
        - else
          %td.col-xs-4= fa_icon visit.network_profile.social_network.font_awesome_name
          %td.col-xs-4= link_to visit.network_profile.customer.full_name, visit.network_profile.url
  .col-sm-2.statistics-table-arrow
    = fa_icon "angle-double-down"
.row.analysis
  .col-sm-4.analysis-col
    .analysis-col-inner
      %h1
        = "#{t('models.places.actions.show.info.day')}:"
        %span= @visits_by_date.where(by_sms: false, by_password: false).count
    .analysis-col-inner
      %h2
        = "#{t('models.places.actions.show.info.auditory')}:"
        %span= @number_of_friends_by_day
      .row.pic
        .col-xs-6.col-xs-offset-6
          = fa_icon 'users'
      .row.gender
        .col-xs-6
          = "#{t('models.places.actions.show.info.gender')}:"
        .col-xs-6
          %p
            = "#{t('models.places.actions.show.info.men')}:"
            %span= @visits_by_date.by_gender('m').count
          %p
            = "#{t('models.places.actions.show.info.women')}:"
            %span= @visits_by_date.by_gender().count
    .analysis-col-inner
      %h2
        SMS:
        %span= @visits_by_date.where(by_sms: true).count
  .col-sm-4.analysis-col
    .analysis-col-inner
      %h1
        = "#{t('models.places.actions.show.info.week')}:"
        %span= @visits_this_week.where(by_sms: false, by_password: false).count
    .analysis-col-inner
      %h2
        = "#{t('models.places.actions.show.info.auditory')}:"
        %span= @number_of_friends_by_week
      .row.pic
        .col-xs-6.col-xs-offset-6
          = fa_icon 'users'
      .row.gender
        .col-xs-6
          = "#{t('models.places.actions.show.info.gender')}:"
        .col-xs-6
          %p
            = "#{t('models.places.actions.show.info.men')}:"
            %span= @visits_this_week.by_gender('m').count
          %p
            = "#{t('models.places.actions.show.info.women')}:"
            %span= @visits_this_week.by_gender().count
    .analysis-col-inner
      %h2
        SMS:
        %span= @visits_this_week.where(by_sms: true).count
  .col-sm-4.analysis-col
    .analysis-col-inner
      %h1
        = "#{t('models.places.actions.show.info.month')}:"
        %span= @visits_this_month.where(by_sms: false, by_password: false).count
    .analysis-col-inner
      %h2
        = "#{t('models.places.actions.show.info.auditory')}:"
        %span= @number_of_friends_by_month
      .row.pic
        .col-xs-6.col-xs-offset-6
          = fa_icon 'users'
      .row.gender
        .col-xs-6
          = "#{t('models.places.actions.show.info.gender')}:"
        .col-xs-6
          %p
            = "#{t('models.places.actions.show.info.men')}:"
            %span= @visits_this_month.by_gender('m').count
          %p
            = "#{t('models.places.actions.show.info.women')}:"
            %span= @visits_this_month.by_gender().count
      .row.age
    .analysis-col-inner
      %h2
        SMS:
        %span= @visits_this_month.where(by_sms: true).count
