!!!
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = favicon_link_tag 'favicon.ico'
    %title
      #{t('menu_item.greetings_short')}
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
    = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = javascript_include_tag :application
    = stylesheet_link_tag "bootstrap", :media => "all"
    = stylesheet_link_tag "bootstrap-theme", :media => "all"
    = stylesheet_link_tag "loyalty/style", :media => "all"

  %body
    %header
      %h2
        = image_tag 'loyalty/header.png'
        = image_tag 'loyalty/logo.png'
      .container
        .name
          %h1
            -# %span.back
              -# a href="index.html"
              -#   img alt="" src="img/arrow-back.png" /
            %span.facility-name
              %b= @place.name
            %span.points
              %b= @reputation_score
              = image_tag 'loyalty/star-violet.png'
      = yield

    -# .container
    -#   .row
    -#     .col-md-12
    -#       %nav.navbar.navbar-default
    -#         .container-fluid
    -#           .navbar-header
    -#             = link_to @place.name, loyalty_path, class: 'navbar-brand'
    -#           %ul.nav.navbar-nav.navbar-left
    -#             %li= link_to t('menu_item.to_internet'), @place.redirect_url
    -#           .collapse.navbar-collapse#bs-example-navbar-collapse-1
    -#             %ul.nav.navbar-nav.navbar-right
    -#               - if request.path_parameters[:action] == 'index' && request.path_parameters[:controller] == 'orders'
    -#                 %li= link_to t('menu_item.back_to_shopping'), loyalty_path
    -#               - elsif request.path_parameters[:action] == 'show' && request.path_parameters[:controller] == 'orders'
    -#                 %li= link_to t('menu_item.back_to_shopping'), loyalty_path
    -#                 %li= link_to t('menu_item.shopping_history'), orders_path
    -#               - else
    -#                 %li= link_to t('menu_item.shopping_history'), orders_path
    -#               %li= link_to t('menu_item.bonus_amount', customer_reputation_score: @reputation_score), ''


    = javascript_include_tag "jquery"
    = javascript_include_tag "bootstrap"
    :javascript
      $(document).ready(function() {
      	$("#nav li:has(ul.sub-nav)").addClass("with-drop");
      });
